@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  align-content: center;
  background-image:linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%) );
  display:grid;
  font-family: 'Kumbh Sans';
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  width: 75%;
}


h1 {
  padding: 40px 0 0;
  font-size: 2rem;
  font-weight: 700;
}

.container {
  background-color: #ffffff;
  border-radius: 25px;
  display: grid;
  grid-gap: 6rem;
  grid-template-columns: 400px 1fr;
  position: relative;
  padding-bottom: 20px;
}


.container-img {
  position: relative;
  
}

.woman-img {
  background: url("images/illustration-woman-online-desktop.svg");
  height: 100%;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-position: 100% center;
}

.box-img {
  position: absolute;
  top: 43%;
  left: -26%;
}

.arrow-icon {
  padding-right: 5px;
}

.accordion {
  border: none;
  color: hsl(240, 6%, 50%);
  font-family: 'Kumbh Sans';
  font-size: 1rem;
  padding: 15px 0;
  cursor: pointer;
  width: 100%; 
  text-align: left;
}
.accordion::after{
  content: url(images/icon-arrow-down.svg);
}
.accordion:hover {
  color: hsl(14, 88%, 65%);
}

.accordion .active {
  color:hsl(237, 12%, 33%) ;
}

.panel {
  overflow:hidden;
  display:none;
  color: hsl(240, 6%, 50%);
  padding-right:20%;
}

